{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    PlayGym 2
  </h3>
  <p>
    A Gym applicaion to allow goal and assesment tracking - Version 2 
  </p>
</section>