{{> welcomemenu }}

<section class="ui grid center aligned middle aligned segment">
  <div class="two column row">
    
  <div class="ui column">
    <h1 class="ui header">
      PlayGym Web App
    </h1>
    <p>
      Fill in your assessments week by week and track your BMI. 
      Trainers will comment on your progress and
      encourage you to keep going!
    </p>
    <h3> Sign up or Log in... </h3>
     </div>


  <div class="ui column">
    <img src="https://cdn.glitch.com/2b422e15-4f93-4e8f-9d00-01d32f1d0bd6%2Fseticon.jpg?v=1595834682715">
  </div>
  </div>
</section>
